# -*- mode: gitignore; -*-
# Editor:
\#*\#
.\#*
.lsp

# Clojure/Java:
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
.clj-kondo/
deps.local.edn

# Mac/OSX:
.DS_Store

# Misc
.direnv/
