{:launchpad/aliases [:dev :guardrails :flowstorm]
 :launchpad/options {:emacs      true
                     :middleware [:flow-storm.nrepl.middleware/wrap-flow-storm]
                     :portal     true}}
